/* Credit to Josh Comeau for CSS reset (https://www.joshwcomeau.com/) */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: flex;
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    background-color: black;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: antiquewhite;
	width: 700px;
	height: 400px;
    border-radius: 3px;
}

.scores {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.choices {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.result {
    width: 500px;
}
